<h2>Welcome to Articles Page</h2>

  <%= link_to("Add New Article", new_article_path, class: "btn btn-primary") %>
  <%= link_to("Add New User", new_user_path, class: "btn btn-primary") %>
<div class="container">
  <% @articles.each do |f| %>
  <div class="card mb-3 a_card" style="width: 18rem;", align="center">
    <div class="card-body">
      <h3 class="card-title"><%= f.title.first(20) %></h3>
      <p class="card-text"><%= f.body.first(30) %></p>
      <%= link_to('Show More', article_path(f) , class: "btn btn-primary") %>
      <div>
        <small class="card-text">Created By:- <%= f.user.name %></small>
      </div>
      <div>  
        <small class="card-text">Created At:- <%= f.created_at.strftime("%d/%m/%y") %></small>
      </div>
      <div>
        <small class="card-text">UPdated At:-<%= f.updated_at.strftime("%d/%m/%y") %></small>
      </div> 
    </div>
  </div>
  <% end %>
</div>

  <div class="digg_pagination container">
      <div class="page_info">
        <%= page_entries_info @articles %>
      </div>
      <%= will_paginate @articles, :container => false %>
  </div>

